<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body table-responsive p-0">
        <ejs-grid
          #grid
          [dataSource]="planData"
          allowPaging="true"
          gridLines="Both"
          (dataBound)="dataBound()"
          (actionBegin)="actionBegin($event)"
          [toolbar]="toolbarAccount"
          [pageSettings]="pageSettings"
          allowExcelExport="true"
          (toolbarClick)="toolbarClick($event)"
          [editSettings]="editSettings"
        >
          <e-columns>

            <e-column field="car_Name" textAlign="Center"  headerText="Car">
              <!-- <ng-template #headerTemplate let-data>
                Car
              </ng-template> -->
              <!-- <ng-template #editTemplate let-data>
                <ejs-dropdownlist
                  #CarDropdownlist
                  [dataSource]='CarData'
                  popupHeight='200px' popupWidth='250px'
                  [fields]='fieldsCar'
                  [allowFiltering]='true'
                  (select)='onChangeCar($event)'
                  >
                </ejs-dropdownlist>
              </ng-template> -->

            </e-column>

            <e-column field="line_Name" headerText="Camera" textAlign="Center">
              <!-- <ng-template #template let-data>
                <ng-container *ngIf="data.status; else elseTemplate">
                  <span>{{data.line_Name}} (Active)</span>
                </ng-container>
                <ng-template #elseTemplate>
                  <span>{{data.line_Name}} (InActive)</span>
                </ng-template>
              </ng-template> -->

              <ng-template #editTemplate let-data>
                <ejs-dropdownlist
                  #LineNameDropdownlist
                  [dataSource]='LineData'
                  popupHeight='200px' popupWidth='250px'
                  [fields]='fieldsLine'
                  [allowFiltering]='true'
                  (select)='onChangeLine($event)'
                  >
                </ejs-dropdownlist>
              </ng-template>

            </e-column>

            <!-- <e-column field="PO" textAlign="Center" isPrimaryKey="true" headerText="PO">
              <ng-template #headerTemplate let-data>
                PO
              </ng-template>
            </e-column> -->

            <e-column field="dueDate" textAlign="Center"  isPrimaryKey="true" headerText="Due Date">

              <ng-template #template let-data>
                {{data.dueDate | date: 'yyyy-MM-dd'}}
              </ng-template>

              <ng-template #editTemplate let-data>
                <ejs-datepicker
                  [value]='dueDate'
                  [allowEdit]='false'
                  [placeholder]="'Select a date'"
                  (change)='onChangeDueDateEdit($event)'
                  format='MM-dd-yyyy'>
                </ejs-datepicker>
              </ng-template>
            </e-column>

            <!-- <e-column field="Status" isPrimaryKey="true" width="100" textAlign="Center" headerText="Options" >

              <ng-template #template let-data>
                <button type="button" (click)="delete(data)" class="btn btn-pill btn-sm btn-block btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
              </ng-template>

              <ng-template #editTemplate let-data>
                <span></span>
              </ng-template>

            </e-column> -->
          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
</div>

